{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Board</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="icon" href="https://res.cloudinary.com/dkvbvwz6z/image/upload/c_thumb,w_200,g_face/v1732627979/image_cfmxxv.png" type="image/x-icon">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/materialdesignicons.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static '/css/fontawesome.css' %}" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/selectize.css' %}" />

    <!--Slider-->
    <link rel="stylesheet" href="{% static '/css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static '/css/owl.theme.css' %}" />
    <link rel="stylesheet" href="{% static '/css/owl.transitions.css' %}" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Loader -->

    <!-- Navigation Bar-->
    <header id="topnav" class="defaultscroll scroll-active">
        

        <!-- Menu Start -->
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="index.html" class="logo">
                    <!-- Light Mode Logo -->
                    <h1 class="logo-light" style="font-family: 'Poppins', sans-serif; 
                                                  font-weight: 1000; 
                                                  font-size: 2rem; 
                                                  color: black; 
                                                  margin: 10px; 
                                                  line-height: 1;">
                                                  <i class="fas fa-laugh-wink"></i> JOB BOARD <sup style="font-size: 0.6em; ">J</sup>
                    </h1>
        
                    <!-- Dark Mode Logo -->
                    <h1 class="logo-dark" style="font-family: 'Poppins', sans-serif; 
                                                 font-weight: 700; 
                                                 font-size: 2rem; 
                                                 color: black; 
                                                 margin: 10px; 
                                                 line-height: 1;">
                                                 <i class="fas fa-laugh-wink"></i>  JOB BOARD <sup style="font-size: 0.6em; ">J</sup>
                    </h1>
                </a>
            </div>                        
           <!--end login button-->
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
    
            <div id="navigation">
                <!-- Navigation Menu-->   
                <ul class="navigation-menu">
                    <li><a href="{% url 'index'%}">Home</a></li>
                    <li><a href="{% url 'joblist' %}">jobs</a></li>
                   
                    
                    <li class="has-submenu">
                        <a href="javascript:void(0)">{{request.session.firstname}} {{request.session.lastname}}</a><span class="menu-arrow"></span>
                        <ul class="submenu">
                            <li><a href="{% url 'canpro' pk=request.session.id %}">profile</a></li>
                            <li><a href="{% url 'logout'%}">signout</a></li>
                            
                        </ul>
                    </li>
                    
                </ul><!--end navigation menu-->
            </div><!--end navigation-->
        </div><!--end container-->
        <!--end end-->
    </header><!--end header-->
    <!-- Navbar End -->

      <!-- Start Home -->
      <section class="bg-home" style="background: url('https://t4.ftcdn.net/jpg/03/53/99/55/360_F_353995594_6AW7CYzgqkSTCMktfFSm2XyjvLDzauDX.jpg') center center / cover no-repeat;">
        <div class="bg-overlay" style="background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
        <div class="home-center" style="position: relative; z-index: 1;">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <h6 class="small-title text-uppercase text-light mb-3">
                                    Find jobs, create trackable resumes and enrich your applications.
                                </h6>
                                <h1 class="heading font-weight-bold mb-4">
                                    The Easiest Way to Get Your New Job
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->


    {% block content%}


    {% endblock %}

    
    
    <hr>
    <footer class="footer footer-bar" >
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">©  Job Board. Design with <i class="mdi mdi-heart text-danger"></i> by Nare Vignesh.</p>
                    </div>
                </div>
            </div>
        </div><!--end container-->
    </footer><!--end footer-->
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
        <i class="mdi mdi-chevron-up d-block"> </i> 
    </a>
    <!-- Back to top -->

    <!-- javascript -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/jquery.easing.min.js' %}"></script>
    <script src="{% static '/js/plugins.js' %}"></script>

    <!-- selectize js -->
    <script src="{% static '/js/selectize.min.js' %}"></script>
    <script src="{% static '/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '/js/counter.int.js' %}"></script>

    <script src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/js/home.js' %}"></script>

</body>
</html>